.shinobi-detail-avatar-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shinobi-list-btn {
    display: block;         
    margin: 1em auto;        
    background-color: #23252b;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-decoration: none;
    width: 200px;
    text-align: center;      
}

.shinobi-list-btn:hover {
      color: #e05302;
}

form textarea {
    display: flex;
    justify-self: center;
    border-radius: 1em;
    margin: 2em;
}

.detail-add-btn {
    display: flex;
    justify-self: center;
    background-color: #23252b;
    color: white;
}

.detail-add-btn:hover {
    color:#e05302;
}

button[type="submit"] {
    margin: 2em;
}