.all-shinobies ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding-bottom: 2em;
}

.all-shinobies li {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.3); /* temporary red background */
    box-sizing: border-box;
}

.all-shinobies img {
    margin-bottom: 0.5em;
    width: 200px;
    height: 350px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

p {
    margin: 0.5em;
}



.shinobi-details, .btn-edit, .btn-delete {
    display: block;         
    margin: 1em auto; 
    width: 100px;
    border-radius: 0.5em;
    background-color: #23252b;
    color: white;
    text-decoration: none;
}


.shinobi-details:hover, .btn-edit:hover, .btn-delete:hover {
    color: #e05302;
}

.comment-view-btn {
    background-color: #23252b;
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 1em 1em;
}

.comment-view-btn a {
    color: white;
    text-decoration: none;
}

.comment-view-btn a:hover {
    color:#e05302;
}



