{% extends 'base.html' %}

{% block content %}
<main class="register-background">
    <div class="outer-register-scope">
        <div class="inner-register-scope">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <h2>Register</h2>
                    <!-- Non-field errors -->
                {% if form.non_field_errors %}
                    <div class="form-errors">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Loop through each field -->
                {% for field in form %}
                    <div>
                        {{ field }}
                        {% if field.errors %}
                            <ul class="field-errors">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</main>
{% endblock%}

