{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/jutsus/jutsu_form.css'%}">
{% endblock %}

{% block content %}
  <h2>{% if object %}Update{% else %}Create{% endif %} Jutsu</h2>

  <form method="POST" enctype="multipart/form-data" class="jutsu-form">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="create-btn-form">{% if object %}Update{% else %}Create{% endif %}</button>
  </form>

  <a href="{% url 'jutsu_list' %}" class="back-to-jutsu-list">Jutsu List</a>
{% endblock %}