{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/clans/clan_list.css'%}">
{% endblock %}

{% block content %}
    <h2>Clan Archives</h2>

    {% if clan_list|length == 0 %}
        <p>For now, there is no clan created.</p>
    {% else %}
    <p>{{ greeting_message }}</p>
    <div class="all-clans">
            <ul>
        {% for clan in clan_list %}
            <li>
                {% if clan.symbol %}
                    <img src="{{clan.symbol.url}}" alt="{{clan.name}}">
                {% endif %}
                
                <a href="{% url 'clan_detail' clan.pk %}" class="clan-btn-details">Clan: {{ clan.name }} - Details</a>

                {% if user.is_authenticated and  user == clan.created_by %}
                    <a href="{% url 'clan_update' clan.pk %}" class="clan-btn-edit">Edit</a>
                    <a href="{% url 'clan_delete' clan.pk %}" class="clan-btn-delete">Delete</a>
                {% endif %}
            </li>
            
        {% endfor %}
    </ul>
    </div>
    {% endif %} 
{% endblock %}