.jutsu-list-btn {
    display: block;         
    margin: 1em auto;        
    background-color: #23252b;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-decoration: none;
    width: 200px;
    text-align: center;      
}

.jutsu-list-btn:hover {
      color: #e05302;
}
